@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nico-Moji';
    src:url('/resources/fonts/Nico-Moji.ttf.woff') format('woff'),
        url('/resources/fonts/Nico-Moji.ttf.svg#Nico-Moji') format('svg'),
        url('/resources/fonts/Nico-Moji.ttf.eot'),
        url('/resources/fonts/Nico-Moji.ttf.eot?#iefix') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
}

html {
    overflow-x: hidden;
}

.text-shadow-pink {
    text-shadow: rgb(224, 4, 150) 1px 0 10px;

}
.text-shadow-blue {
    text-shadow: rgb(0, 255, 255) 1px 0 10px;
}
.box-shadow-blue {
    box-shadow: 2px 2px 12px 1px rgb(0, 255, 255);
}
.box-shadow-pink {
    box-shadow: 2px 2px 12px 1px rgb(224, 4, 150);
}
.box-shadow-intense-pink {
    box-shadow: 2px 2px 50px 5px rgb(224, 4, 150);
}

code {
    color: rgb(224, 4, 150);
    text-shadow: rgb(224, 4, 150) 1px 0 10px;
}

.sun {
    border-radius: 100%;

    background: linear-gradient(180deg, rgba(255,223,27,1) 0%, rgba(252,181,41,1) 35%, rgba(253,144,107,1) 44%, rgba(0,0,0,0) 46%, rgba(253,128,136,1) 48%, rgba(255,79,223,1) 60%, rgba(244,71,211,1) 64%, rgba(0,0,0,0) 65%, rgba(236,65,202,1) 67%, rgba(218,52,180,1) 74%, rgba(207,47,181,1) 76%, rgba(0,0,0,0) 78%, rgba(197,42,183,1) 79%, rgba(142,17,189,1) 88%, rgba(140,20,191,1) 89%, rgba(0,0,0,0) 90%, rgba(135,26,196,1) 92%, rgba(112,52,218,1) 100%);

    box-shadow: 0px 0px 500px 20px rgba(218,52,180,1);

    transition: all .2s ease-in-out;
    animation: breathe 4s linear infinite;
}

.sun, .logo {
    width: 40%;
    max-height: 840px;
    max-width: 840px;
    aspect-ratio: 1 / 1;

    margin: 0 auto;

    position: absolute;
    top: 50px;
    left:0;
    right:0;
}

.logo:hover + .sun, .sun:hover {
    transform: scale(1.1);
}

@keyframes breathe {
    0% {
        box-shadow: 0px 0px 500px 20px rgba(218,52,180,1);
    }
    10% {
        box-shadow: 0px 0px 500px 20px rgba(218,52,180,1);
    }
    45% {
        box-shadow: 0px 0px 500px 70px rgba(218,52,180,1);
    }
    55% {
        box-shadow: 0px 0px 500px 70px rgba(218,52,180,1);
    }
    100% {
        box-shadow: 0px 0px 500px 20px rgba(218,52,180,1);
    }
}

@media screen and (max-width: 1024px) {
    .sun, .logo {
        width: 70%;
    }
}

.explode {
    animation-name: sun-explodes;
    animation-duration: 3000ms;
}

@keyframes sun-explodes {
    0% {
        transform: scale(1.1);
        background: rgba(255,220,83,1);
    }
    50% {
        transform: scale(100);
        background: white;
        opacity: 1;
    }
    100% {
        background: white;
        opacity: 0;
    }
}

.grid-container {
    background-color: rgb(23, 1, 41);
    width: 250%;
    height: 100vh;
    margin-left: -75%;
    bottom: 0;
    transform: perspective(400px) rotateX(40deg) scale(3) translateZ(0);
    transform-origin: bottom;
}

.grid-line {
    width: 100%;
    border: 4px solid rgb(9, 170, 192);
    box-shadow: 0px 0px 12px 1px rgb(0, 255, 255);
    height: 100%;
}

@media screen and (max-height: 500px) {
    .sun, .logo {
        max-height: 300px;
        max-width: 300px;
    }
    .grid-container {
        transform: perspective(400px) rotateX(70deg);
    }
}

@media screen and (max-height: 400px) {
    .sun, .logo {
        max-height: 200px;
        max-width: 200px;
    }
}

main {
    background: linear-gradient(180deg, rgb(23, 1, 41) 0%, rgb(41, 1, 73) 100%);
}

.car {
    transform: translateX(-894px);
}

::selection {
    color: white;
    background: rgb(224, 4, 150);
}
